<div
  *ngIf="this.authService.isLoggedIn()"
  class="fixed-bottom border-top bg-white"
>
  <nav class="row g-0 py-3">
    <div class="col d-flex justify-content-center align-items-center">
      <a routerLink="/">Home</a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a routerLink="/storage">Production</a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a routerLink="/storage">Storage</a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a routerLink="/storage">Build</a>
    </div>
  </nav>
</div>
