<header>
  <nav class="d-flex flex-row justify-content-between align-items-center">
    <a [routerLink]="this.authService.isLoggedIn() ? ['/home'] : ['/']">
      <h2>Your Own Boss</h2>
    </a>

    <ul class="d-flex flex-row align-items-center">
      <ng-template [ngIf]="!this.authService.isLoggedIn()">
        <li class="btn btn-outline-primary">
          <a routerLink="/signup">Signup</a>
        </li>
        <li>
          <a class="btn btn-primary" routerLink="/login">Login</a>
        </li>
      </ng-template>

      <ng-template [ngIf]="this.authService.isLoggedIn()">
        <li>
          <a routerLink="/storage">Storage</a>
        </li>
        <li>
          <a routerLink="/account">{{ this.authService.user.username }}</a>
        </li>
        <li>{{ this.authService.user.companyMoney }} $</li>
        <li style="cursor: pointer" (click)="logout()">Logout</li>
      </ng-template>
    </ul>
  </nav>
</header>
