nav {
  height: 80px;
  padding: 0 10px;
}

ul {
  list-style: none;
  gap: 5px;
  margin-bottom: 0;
  padding-left: 0;
}

.btn-outline-primary:hover {
  background-color: transparent;
}

.header-avatar {
  padding: 5px;
}

.dropdown-toggle {
  border: none;
  outline: none;
}

.dropdown-menu {
  min-width: 0;
}
