<header>
  <nav class="d-flex flex-row justify-content-between align-items-center">
    <a [routerLink]="this.authService.isLoggedIn() ? ['/home'] : ['/']">
      <h2>Your Own Boss</h2>
    </a>

    <ul class="d-flex flex-row align-items-center">
      <ng-template [ngIf]="!this.authService.isLoggedIn()">
        <li class="btn btn-outline-primary">
          <a routerLink="/signup">Signup</a>
        </li>
        <li>
          <a class="btn btn-primary" routerLink="/login">Login</a>
        </li>
      </ng-template>

      <ng-template [ngIf]="this.authService.isLoggedIn()">
        <li>{{ this.authService.user.companyMoney }} $</li>
        <li>
          <div class="dropdown">
            <button
              class="btn dropdown-toggle d-flex flex-row align-items-center"
              type="button"
              id="header-avatar-dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="header-avatar">
                {{ this.authService.user.username.slice(0, 2) }}
              </div>
            </button>
            <ul
              class="dropdown-menu text-end"
              aria-labelledby="header-avatar-dropdown"
            >
              <li class="dropdown-item">
                <a routerLink="/account/settings">Settings</a>
              </li>
              <li
                class="dropdown-item text-danger"
                style="cursor: pointer"
                (click)="logout()"
              >
                Logout
              </li>
            </ul>
          </div>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>
