<main class="flex justify-center">
  <form class="flex flex-col p-6 space-y-4">
    <h1 class="text-center text-lg font-bold">Signup</h1>
    <label for="username">Username</label>
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 p-2"
      id="username"
      name="username"
      [(ngModel)]="username"
    />
    <label for="password">Password</label>
    <input
      type="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 p-2"
      id="password"
      name="password"
      [(ngModel)]="password"
    />
    <button
      type="submit"
      class="w-full text-white bg-green-400 font-medium text-center p-2.5"
      (click)="signup()"
    >
      Signup
    </button>
  </form>
</main>
